<mat-sidenav-container style="min-height: 972px;" >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="overflow-x:hidden;">
      <div style="width: 280px;">
          <div class="sidebar">
              <ul class="btn-group btn-group-vertical btn-group-toggle navbar-nav" data-toggle="buttons">
                <li *ngFor="let topic of topics" type="radio" (click)="loadByTopic(topic.id)"
                    class="btn btn-outline-secondary border-light text-primary text-left mark-active nav-item">
                    <i class="nav-link" [ngClass]="getTopicIcon(topic.icon)" ></i>{{topic.topicName}}</li>
              </ul>
            </div>
    </div>
    </mat-sidenav>

    <mat-sidenav-content style="overflow-y:hidden;">
<div class="container-fluid">
    <button mat-button (click)="sidenav.toggle()" class="hamburger" [ngClass]="opened ? 'is-open' : 'is-closed'" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>

<div class="row" [ngClass]="opened ? 'wrapper-inactive' : 'wrapper'">
  <div class="col-sm-8 offset-2 content">
  <div class="row justify-content-md-center">
    <div class="col-10 mt-3">
      <form #queryForm="ngForm" (ngSubmit)="loadPosts()" class="input-group justify-content-center" novalidate>
          <input type="text" class="form-control" [(ngModel)]="this.queryString" placeholder="Keresés" [ngModelOptions]="{standalone: true}">
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
      </form>
      <br/>
    </div>
    <br/>
  </div>

</div>
</div>
<div class="row justify-content-md-center" [ngClass]="opened ? 'wrapper-inactive' : 'wrapper'">
    <div *ngFor="let post of posts" class="ml-20 mx-auto col-sm-6 col-md-4 col-lg-4 col-xl-2">
      <app-question-card [post]="post"></app-question-card>
    </div>
    </div>
</div>

</mat-sidenav-content>
</mat-sidenav-container>


<div class="d-flex justify-content-center" [ngClass]="opened ? 'wrapper-inactive' : 'wrapper'">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=8 [rotate]="true">
  </pagination>
  
</div>
