<div class="row wrapper">
  <div class="col-2 sidebar">
    <ul class="btn-group btn-group-vertical btn-group-toggle navbar-nav" data-toggle="buttons">
      <li *ngFor="let topic of topics" type="radio" class="btn btn-outline-secondary border-light text-primary text-left mark-active nav-item">
          <i class="nav-link" [ngClass]="getTopicIcon(topic.icon)"></i>{{topic.topicName}}</li>
    </ul>
  </div>
<div class="row col-10 content">
    <div class="container mt-3">
        <form #queryForm="ngForm" (ngSubmit)="loadPosts()" class="input-group justify-content-center" novalidate>
            <input type="text" class="form-control" [(ngModel)]="this.queryString" placeholder="Keresés" [ngModelOptions]="{standalone: true}">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </form>
          <br/>
    </div>
    <br/>
    <div class="row">
    <div *ngFor="let post of posts" class="mx-auto col-sm-6 col-md-4 col-lg-4 col-xl-2">
        <app-question-card [post]="post"></app-question-card>
    </div>
  </div>
</div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=8 [rotate]="true">
</pagination>
</div>