.rounded-circle {
    height: 100px;
    width: 100px;
}

.chat-img:hover img {
    transform: scale(1.05, 1.05);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.9;
}

.chat-img, .chat-name {
    cursor: pointer;
}

.chat-img img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.detail-wrapper {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.trending-wrapper {
    margin-top: 46px;
}

.card {
    overflow: hidden;
    position: relative;
}