<div class="card mb-3" [routerLink]="['/detail/', post.id]">
  <h5 class="card-header">{{post.title}}</h5>
  <div class="card-body">
    <h6 class="card-text" [innerHTML]="post.postBody"></h6>
    <ul class="list-inline member-icons animate text-right">
        <li class="list-inline-item"><button class="btn btn-primary" [routerLink]="['/member/', post.userId]" [queryParams]="{tab: 4}"><i class="fa fa-user"></i></button></li>
        <li class="list-inline-item mr-2"><button class="btn btn-primary" ><i class="fa fa-heart"></i></button></li>
      </ul>
  </div>
  <div class="card-img-wrapper" *ngIf="post.photoUrl != null">
  <img style="height: 200px; width: 100%; display: block;" class="card-img-top" src="{{post.photoUrl}}">
  </div>
  <div class="card-footer text-muted">
    <div><i class="fa fa-user mr-2"></i>{{ post.username | titlecase }} {{post.dateAdded | timeago}} </div>
    <div><i class="fa fa-eye mr-2"></i>{{post.views}} megtekintés </div>
    <div><i class="fa fa-comments mr-2"></i>{{post.answerCount}} válasz</div>
  </div>
</div>
