<div class="row">
  <div *ngFor="let followedPost of followedPosts" class="mx-auto col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
      <app-member-post-card [memberPost]="followedPost"></app-member-post-card>
  </div>
</div>
<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="followPagination.totalItems"
              [itemsPerPage]="followPagination.itemsPerPage"
              [(ngModel)]="followPagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]=8 [rotate]="true">
</pagination>
</div>